#title-up {
  margin-top: 1rem;
}
.icons-menu {
  padding: 0.7rem;
}
.img-26-26 {
  width: 26px;
  height: 26px;
}

.img-35-35 {
  width: 35px;
  height: 35px;
}
.img-10-10 {
  width: 10px;
  height: 10px;
}
