<div class="container">
  <h1>Editar Capela</h1>
  <form [formGroup]="formEditChurch">
    <div class="row">
      <div class="col-12 d-flex align-items-center">
        <h4>Dados Pessoais</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-5 col-md-6 col-sm-12">
        <mat-form-field style="width: 20rem">
          <mat-label>Nome *</mat-label>
          <input matInput formControlName="name" />
          <mat-error
            *ngIf="
              formEditChurch.get('name').touched &&
              formEditChurch.get('name').hasError('required')
            "
          >
            Nome é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xl-3 col-md-6 col-sm-12">
        <mat-form-field>
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="phone" />
        </mat-form-field>
      </div>
      <div class="col-xl-4 col-md-6 col-sm-12">
        <mat-form-field style="width: 15rem">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6 col-sm-12">
        <mat-form-field style="width: 15rem">
          <mat-label>Cidade *</mat-label>
          <input matInput formControlName="city" />
          <mat-error
            *ngIf="
              formEditChurch.get('city').touched &&
              formEditChurch.get('city').hasError('required')
            "
          >
            Cidade é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12">
        <mat-form-field style="width: 10rem">
          <mat-label>Bairro *</mat-label>
          <input matInput formControlName="district" />
          <mat-error
            *ngIf="
              formEditChurch.get('district').touched &&
              formEditChurch.get('district').hasError('required')
            "
          >
            Bairro é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12">
        <mat-form-field style="width: 12rem">
          <mat-label>Rua *</mat-label>
          <input matInput formControlName="street" />
          <mat-error
            *ngIf="
              formEditChurch.get('street').touched &&
              formEditChurch.get('street').hasError('required')
            "
          >
            Rua é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-xl-2 col-md-6 col-sm-12">
        <mat-form-field style="width: 5rem">
          <mat-label>Número *</mat-label>
          <input type="number" matInput formControlName="number" />
          <mat-error
            *ngIf="
              formEditChurch.get('number').touched &&
              formEditChurch.get('number').hasError('required')
            "
          >
            Número é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-5 col-md-6 col-sm-12">
        <mat-form-field style="width: 20rem">
          <mat-label>Responsável *</mat-label>
          <input matInput formControlName="responsible" />
          <mat-error
            *ngIf="
              formEditChurch.get('responsible').touched &&
              formEditChurch.get('responsible').hasError('required')
            "
          >
            Responsável é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col d-flex justify-content-start">
      <button mat-raised-button (click)="closeDialog()">Cancelar</button>
    </div>

    <div class="col d-flex justify-content-end">
      <button
        mat-raised-button
        color="primary"
        [disabled]="formEditChurch.invalid"
        (click)="edit()"
      >
        Editar
      </button>
    </div>
  </div>
</div>
