.relative {
  position: relative;
}
.center-v {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: block;
  right: 11rem;
}
.center-v-password {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: block;
  right: 13rem;
}
