<div id="menu">
  <h3 id="title">
    <strong>Trip</strong><span style="opacity: 0.5">Management</span>
  </h3>
  <div class="row" style="width: 100%; margin: auto">
    <div class="col-12 icons-menu mt-1">
      <img *ngIf="url && url.includes('dashboard')"
        class="img-10-10" src="../../assets/images/icons8-circulo-preenchido-16.png" />
      <button class="btn" routerLink="/dashboard">
        <mat-icon class="material-icons-outlined" aria-hidden="true">dashboard</mat-icon>
      </button>
    </div>
    <div class="col-12 icons-menu">
      <img *ngIf="url && url.includes('customer-service')" class="img-10-10"
        src="../../assets/images/icons8-circulo-preenchido-16.png" />
      <button class="btn" routerLink="customer-service">
        <img class="img-26-26" src="../../assets/images/icons8-serviço-50.png" />
      </button>
    </div>
    <div *ngIf="profile.id === '1'" class="col-12 icons-menu">
      <img *ngIf="url === '/user'" class="img-10-10"
        src="../../assets/images/icons8-circulo-preenchido-16.png" />
      <button class="btn" routerLink="user">
        <img class="img-26-26" src="../../assets/images/icons8-conferencia-64.png" />
      </button>
    </div>
    <div *ngIf="profile.id === '1'" class="col-12 icons-menu">
      <img *ngIf="url === '/client'" class="img-10-10"
        src="../../assets/images/icons8-circulo-preenchido-16.png" />
      <button class="btn" routerLink="client">
        <img class="img-26-26" src="../../assets/images/icons8-reunião-80.png" />
      </button>
    </div>
    <div *ngIf="profile.id === '1'" class="col-12 icons-menu">
      <img *ngIf="url === '/cost-center'" class="img-10-10"
        src="../../assets/images/icons8-circulo-preenchido-16.png" />
      <button class="btn" routerLink="cost-center">
        <img class="img-26-26" src="../../assets/images/icons8-banco-100.png" />
      </button>
    </div>
    <div *ngIf="profile.id === '1'" class="col-12 icons-menu">
      <img *ngIf="url === '/technician'" class="img-10-10"
        src="../../assets/images/icons8-circulo-preenchido-16.png" />
      <button class="btn" routerLink="technician">
        <img class="img-26-26" src="../../assets/images/icons8-engenheiro-50.png" />
      </button>
    </div>
    <div *ngIf="profile.id === '1'" class="col-12 icons-menu">
      <img *ngIf="url === '/report'" class="img-10-10"
        src="../../assets/images/icons8-circulo-preenchido-16.png" />
      <button class="btn" routerLink="report">
        <img class="img-26-26" src="../../assets/images/icons8-grafico-combinado-50.png" />
      </button>
    </div>



    <div class="fixed-bottom">
      <button class="btn" [matMenuTriggerFor]="menu">
        <img class="img-35-35" src="../../assets/images/icons8-conta-de-teste-160.png" />
      </button>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon aria-hidden="false">logout</mat-icon>
        Sair
      </button>
      <button mat-menu-item (click)="changePassword()">
        <mat-icon aria-hidden="false">vpn_key</mat-icon>
        Alterar Senha
      </button>
    </mat-menu>
  </div>
</div>