<div class="container-fluid">
  <h2>Regras Senha</h2>
  <ol class="list-group list-group-numbered">
    <li class="list-group-item">
      Pelo menos
      <span class="badge bg-primary rounded-pill" style="color: white">1</span>
      letra maiúscula
    </li>
    <li class="list-group-item">
      Pelo menos
      <span class="badge bg-primary rounded-pill" style="color: white">1</span>
      letra minúscula
    </li>
    <li class="list-group-item">
      Pelo menos
      <span class="badge bg-primary rounded-pill" style="color: white">1</span>
      número
    </li>
    <li class="list-group-item">
      Pelo menos
      <span class="badge bg-primary rounded-pill" style="color: white">1</span>
      caracter especial ($, *, &, @, #, %, !)
    </li>
    <li class="list-group-item">
      Pelo menos
      <span class="badge bg-primary rounded-pill" style="color: white">5</span>
      digitos
    </li>
  </ol>
</div>
