<app-header></app-header>
<div id="list" class="row mt-1">
    <app-page-header [type]="type" (searchNameChurch)="searchByNameChurch($event)" (reset)="resetSearch()">
    </app-page-header>
    <div class="table-responsive">
        <app-dumb-user [users]="users" (selectUserEvent)="selectUser($event)" (editUserEvent)="edit($event)"
            (deleteUserEvent)="delete($event)">
        </app-dumb-user>
        <app-paginator [pageSize]="pageable.size" [length]="pageInfo.totalElements"
            (pageEventEmitter)="loadPage($event)">
        </app-paginator>
    </div>
</div>