<app-dashboard-adm-dumb [quantityCustomerServicesOpen]="quantityCustomerServicesOpen"
    [quantityCustomerServicesClose]="quantityCustomerServicesClose" [quantityClients]="quantityClients"
    [lineChartColorsBar]="lineChartColorsBar" [lineChartDataBar]="lineChartDataBar"
    [lineChartLabelsBar]="lineChartLabelsBar" [lineChartLegendBar]="lineChartLegendBar"
    [lineChartTypeBar]="lineChartTypeBar" [lineChartColorsPolarArea]="lineChartColorsPolarArea"
    [lineChartDataPolarArea]="lineChartDataPolarArea" [lineChartLabelsPolarArea]="lineChartLabelsPolarArea"
    [lineChartLegendPolarArea]="lineChartLegendPolarArea" [lineChartTypePolarArea]="lineChartTypePolarArea">
</app-dashboard-adm-dumb>