<app-header></app-header>
<div id="list" class="row mt-1">
    <app-page-header [type]="type" (searchNameChurch)="searchByNameUser($event)" (reset)="resetSearch()">
    </app-page-header>
    <div class="table-responsive">
        <app-dumb-technician [technicians]="technicians" (selectTechnicianEvent)="selectTechnician($event)" (editTechnicianEvent)="edit($event)"
            (deleteTechnicianEvent)="delete($event)"></app-dumb-technician>
        <app-paginator [pageSize]="pageable.size" [length]="pageInfo.totalElements"
            (pageEventEmitter)="loadPage($event)">
        </app-paginator>
    </div>
</div>