<div class="container">
  <h1>Alterar Senha</h1>

  <form [formGroup]="formChangePassword">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-sm-12">
        <mat-form-field class="w-20">
          <mat-label>Senha de Administrador *</mat-label>
          <input matInput formControlName="passwordAdmin" type="password" />
          <mat-error
            *ngIf="
              formChangePassword.get('passwordAdmin').touched &&
              formChangePassword.get('passwordAdmin').hasError('required')
            "
          >
            Senha do Administrador é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4>Regras para Nova Senha</h4>
        <ol class="list-group list-group-numbered w-25">
          <li class="list-group-item">
            Pelo menos
            <span class="badge bg-primary rounded-pill" style="color: white"
              >1</span
            >
            letra maiúscula
            <mat-icon class="done" *ngIf="findUpperCase" aria-hidden="false">done</mat-icon>
          </li>
          <li class="list-group-item">
            Pelo menos
            <span class="badge bg-primary rounded-pill" style="color: white"
              >1</span
            >
            letra minúscula
            <mat-icon class="done" *ngIf="findLowerCase" aria-hidden="false">done</mat-icon>
          </li>
          <li class="list-group-item">
            Pelo menos
            <span class="badge bg-primary rounded-pill" style="color: white"
              >1</span
            >
            número
            <mat-icon class="done" *ngIf="findDigits" aria-hidden="false">done</mat-icon>
          </li>
          <li class="list-group-item">
            Pelo menos
            <span class="badge bg-primary rounded-pill" style="color: white"
              >1</span
            >
            caracter especial ($, *, &, @, #, %, !)
            <mat-icon class="done" *ngIf="findSpecialCharacters" aria-hidden="false"
              >done</mat-icon
            >
          </li>
          <li class="list-group-item">
            Pelo menos
            <span class="badge bg-primary rounded-pill" style="color: white"
              >5</span
            >
            digitos
            <mat-icon class="done" *ngIf="lenghtFive" aria-hidden="false">done</mat-icon>
          </li>
        </ol>
      </div>

      <div class="col-6 mt-2">
        <mat-form-field class="w-20">
          <mat-label>Nova Senha *</mat-label>
          <input
            type="password"
            matInput
            formControlName="newPassword"
            (input)="comparePasswords()"
          />
          <mat-error
            *ngIf="
              formChangePassword.get('newPassword').touched &&
              formChangePassword.get('newPassword').hasError('required')
            "
          >
            Nova Senha é <strong>obrigatório</strong>
          </mat-error>

          <mat-error
            *ngIf="
              formChangePassword.get('newPassword').touched &&
              formChangePassword.get('newPassword').hasError('pattern')
            "
          >
            Senha não atende aos critérios
          </mat-error>
          <mat-hint
            class="feedback-valid"
            *ngIf="formChangePassword.get('newPassword').valid"
          >
            Senha atende aos critérios
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col-6 mt-2">
        <mat-form-field class="w-20">
          <mat-label>Confirme a Senha *</mat-label>
          <input
            type="password"
            matInput
            formControlName="confirmNewPassword"
            (input)="comparePasswords()"
          />

          <mat-error
            *ngIf="
              formChangePassword.get('confirmNewPassword').touched &&
              formChangePassword.get('confirmNewPassword').hasError('required')
            "
          >
            <strong>Obrigatório</strong>
          </mat-error>

          <mat-error
            *ngIf="
              formChangePassword.get('confirmNewPassword').touched &&
              formChangePassword.get('confirmNewPassword').hasError('incorrect')
            "
          >
            Senhas não conferem
          </mat-error>
          <mat-hint
            class="feedback-valid"
            *ngIf="formChangePassword.get('confirmNewPassword').valid"
          >
            Senhas conferem
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="row mt-1">
    <div class="col d-flex justify-content-start">
      <button mat-raised-button (click)="closeDialog()">Cancelar</button>
    </div>
    <div class="col d-flex justify-content-end">
      <button
        mat-raised-button
        color="primary"
        [disabled]="formChangePassword.invalid"
        (click)="changePassword()"
      >
        Alterar Senha
      </button>
    </div>
  </div>
</div>
