<app-header></app-header>
<div class="row mt-1" style="padding-right: 1rem">
  <app-page-header
    [type]="type"
    (searchNameChristian)="searchByNameChristian($event)"
    (searchNumberChristian)="searchByNumberChristian($event)"
    (searchMonth)="searchByMonthBirthday($event)"
    (reset)="resetSearch()"
  ></app-page-header>
  <div
    *ngIf="selectedChristians.length > 0"
    class="col mt-3"
    style="max-height: 2.4rem"
  >
    <button mat-raised-button (click)="exportPdf()">
      <mat-icon aria-hidden="false">file_download</mat-icon>
    </button>
    <span class="ml-1" *ngIf="selectedChristians.length > 0">
      Selecionados:
      <span class="fw-600">{{ selectedChristians.length }} </span>
    </span>
    <span
      class="ml-1"
      *ngIf="
        selectAllCheckBox && selectedChristians.length < pageInfo.totalElements
      "
      >Itens restantes:
      <span class="fw-600"
        >{{ pageInfo.totalElements - selectedChristians.length }}
      </span></span
    >
    <button
      *ngIf="
        selectAllCheckBox && selectedChristians.length < pageInfo.totalElements
      "
      class="ml-1"
      mat-raised-button
      (click)="selectAllRetrive()"
      style="color: blue"
    >
      Selecionar Todos
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead">
        <tr>
          <th>
            <mat-checkbox
              *ngIf="christians && christians.length > 0"
              #checkBoxAll
              class="example-margin"
              (change)="selectAll($event.checked)"
            ></mat-checkbox>
          </th>
          <th scope="col">N.</th>
          <th scope="col">Nome</th>
          <th scope="col">Data Nascimento</th>
          <th scope="col">Telefone</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody *ngIf="christians.length > 0; else empty">
        <tr *ngFor="let item of christians" (click)="selectChristian(item)">
          <td (click)="preventDefault($event)">
            <mat-checkbox
              class="example-margin"
              #checkBox
              [value]="isInserted(item.id)"
              (click)="select(item)"
            ></mat-checkbox>
          </td>
          <td>
            <p class="number-user">{{ item.id }}</p>
          </td>
          <td>
            <img
              class="img-30-30"
              src="../../assets/images/icons8-usuario-masculino-50.png"
            />{{ item.name }}
          </td>
          <td>
            <img
              class="img-30-30"
              src="../../assets/images/icons8-data-ate-64.png"
            />{{ item.birthDate | date: "dd/MM/yyyy" }}
          </td>
          <td>
            <img
              class="img-30-30"
              src="../../assets/images/icons8-telefone-sem-uso-100.png"
            />
            {{ item.phone | phoneCustom }}
          </td>
          <td (click)="preventDefault($event)">
            <button class="btn" type="button" [matMenuTriggerFor]="menu">
              <mat-icon aria-hidden="false">more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openModalPayTithing(item)">
                <mat-icon aria-hidden="false">attach_money</mat-icon>
                Dízimo
              </button>
              <button mat-menu-item (click)="edit(item)">
                <mat-icon aria-hidden="false">edit</mat-icon>
                Editar
              </button>
              <button mat-menu-item (click)="delete(item)">
                <mat-icon aria-hidden="false">delete</mat-icon> Excluir
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
      <ng-template #empty>
        <tr>
          <td colspan="6">
            <div class="alert alert-warning d-flex justify-content-center">
              Nenhum resultado para sua busca
            </div>
          </td>
        </tr>
      </ng-template>
    </table>
    <app-paginator
      [pageSize]="pageable.size"
      [length]="pageInfo.totalElements"
      (pageEventEmitter)="loadPage($event)"
    >
    </app-paginator>
  </div>
</div>
