.thead {
  opacity: 0.5;
}

.img-30-30 {
  width: 30px;
  height: 30px;
}
.img-40-40 {
  width: 40px;
  height: 40px;
}

.img-35-35 {
  width: 35px;
  height: 35px;
}

.number-user {
  font-weight: bold;
  font-size: large;
}

.example-margin {
  margin: 0 12px;
}

.fw-600 {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  #list {
    margin-top: 0;
    padding: 1rem;
  }
}
