<div class="container">
  <h1>Visualizar Dados</h1>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead">
        <tr *ngIf="typeOfData === 'customer-service'">
          <th scope="col">N.</th>
          <th scope="col">Nome</th>
          <th scope="col">Nascimento</th>
          <th scope="col">E-mail</th>
          <th scope="col">Telefone</th>
          <th scope="col">Cidade</th>
          <th scope="col">Bairro</th>
          <th scope="col">Rua</th>
          <th scope="col">Número</th>
        </tr>
        <tr *ngIf="typeOfData === 'user'">
          <th scope="col">Nome</th>
          <th scope="col">Login</th>
          <th scope="col">Perfil</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="typeOfData === 'customer-service'">
          <td>
            <p class="number-user">{{ data.id }}</p>
          </td>
          <td>
            {{ data.name }}
          </td>
          <td>
            {{ data.birthDate | date: "dd/MM/yyyy" }}
          </td>
          <td>
            {{ data.email }}
          </td>
          <td>
            {{ data.phone | phoneCustom }}
          </td>
          <td>
            {{ data.address.city }}
          </td>
          <td>
            {{ data.address.district }}
          </td>
          <td>
            {{ data.address.street }}
          </td>
          <td>
            {{ data.address.number }}
          </td>
        </tr>

        <tr *ngIf="typeOfData === 'user'">
          <td>
            {{ data.name }}
          </td>
          <td>
            {{ data.login }}
          </td>
          <td>
            {{ data.profile.description }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col d-flex justify-content-center">
    <button mat-raised-button (click)="closeDialog()">Fechar</button>
  </div>
</div>