<app-header></app-header>
<div id="list" class="row mt-1">
  <app-page-header
    [type]="type"
    (searchNameChurch)="searchByNameChurch($event)"
    (reset)="resetSearch()"
  >
  </app-page-header>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Bairro/Sítio</th>
          <th scope="col">Responsável</th>
          <th scope="col">Dizimistas</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody *ngIf="churchs.length > 0; else empty">
        <tr *ngFor="let item of churchs" (click)="selectChurch(item)">
          <td>
            <img
              class="img-30-30"
              src="../../assets/images/icons8-igreja-128.png"
            />
            {{ item.name }}
          </td>
          <td>
            <img
              class="img-40-40"
              src="../../assets/images/icons8-endereco-100.png"
            />{{ item.district }}
          </td>
          <td>
            <img
              class="img-30-30"
              src="../../assets/images/icons8-usuario-masculino-50.png"
            />{{ item.responsible }}
          </td>
          <td>
            <img
              class="img-35-35"
              src="../../assets/images/icons8-chamada-em-conferencia-50.png"
            />
            {{ item.numberOfTithers }}
          </td>
          <td (click)="preventDefault($event)">
            <button class="btn" type="button" [matMenuTriggerFor]="menu">
              <mat-icon aria-hidden="false">more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="edit(item)">
                <mat-icon aria-hidden="false">edit</mat-icon>
                Editar
              </button>
              <button mat-menu-item (click)="delete(item)">
                <mat-icon aria-hidden="false">delete</mat-icon>
                Deletar
              </button>
              <button mat-menu-item (click)="changePassword(item)">
                <mat-icon aria-hidden="false">vpn_key</mat-icon>
                Alterar Senha
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
      <ng-template #empty>
        <tr>
          <td colspan="5">
            <div class="alert alert-warning d-flex justify-content-center">
              Nenhum resultado para sua busca
            </div>
          </td>
        </tr>
      </ng-template>
    </table>
    <app-paginator
      [pageSize]="pageable.size"
      [length]="pageInfo.totalElements"
      (pageEventEmitter)="loadPage($event)"
    >
    </app-paginator>
  </div>
</div>
